*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.ps
*.toc
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData
*.accdb
*.laccdb
*.mdb
data/rec/sc_biodata_aug_23.csv
data/rec/sc_biodata_jun_24.csv
data/rec/rec_msf_feb_24.csv

# History files
.Rhistory
.Rapp.history

myNotes.*
.Rproj.user/
.Rproj.user
*.html
scripts/*cache*
*.o
*.so