*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.ps
*.toc
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData
*.accdb
*.laccdb
*.mdb
data/sep/
data/rkw_diet/raw_data/
data/rec/raw_data/
data/run_size/old/
R/defunct/
tex/chinook-srkw-diet/
tex/chinook-srkw-diet2/
.claude/

# History files
.Rhistory
.Rapp.history

myNotes.*
.Rproj.user/
.Rproj.user
*.html
scripts/*cache*
*.o
*.so